.about{
    color: aliceblue;
    width: 100%;
    height: auto;
    padding: 100px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about h2
{
    position: relative;
    margin-bottom: 30px;
    font-size: 30px;
}
.about h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: white;
  display: block;
  margin-top: 10px;
}

.about p
{
    font-size: 18px;
    width: 750px;
}
@media (max-width: 768px) {
  .about{
    width: auto;
  }
  .about p{
    width: auto;
  }
}