#home{
    display: flex;
}


.home
{
    height: 70vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(213, 223, 13);
    padding-left: 10%;
    padding-top: 200px;
    
}
.home h1
{
    font-size: 40px;
}
.animation
{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.animation p{
    font-size: 20px;
}
.btn
{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    margin-left: 76px;
}
.btn a{
    text-decoration: none;
    background: rgb(18, 18, 17);
    color: rgb(225, 232, 5);
    padding: 12px 28px;
    margin: 5px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-style: none;
    border: 3px solid rgb(225, 232, 5); ;
}
.btn a:hover{
    background: rgb(225, 232, 5);
    color: rgb(18, 18, 17);
    border: 3px solid rgb(18, 18, 17);
}
.social
{
    display: flex;
    gap: 15px;
    margin-top: 20px;   
    width: 300px;
    justify-content:center;
    align-items: center;
}
.social a{
    font-size: 35px;
    transition: all 0.3s ease;
    color: rgb(216, 216, 4);
}
.social a:hover
{
    transform: translateY(-3px);
    color: rgb(195, 3, 195);
}

.image
{
   flex: 1;
}
.image img{
    margin-top: 160px;
    margin-left:100px;
     width: 400px;
     border-radius: 50%;
}

@media (max-width: 768px){
    .image img{
        display:none;
    }

}